.header-date-container  {
    border: 1px solid #1f2636;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.calendar-icon {
    font-size: 25px;
    color: #7452f5;
}

.icon-box {
    background-color: #1d2539;
    height: 30px;
    width: 30px;
    padding: 10px;
}

.header-date {
    margin-left: 10px;
}

.header-date p {
    margin: 10px 0;
}

.header-date .time {
    color: #7452f5;
}

.header-date .day {
    font-size: 22px;
    color: white;
}