.dashboard-container {
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(244deg,
      #0B0F19 0%,
      #131A26 100%);
  color: #F4F7FA;
  font-family: sans-serif;
  padding: 20px;
}
