.task-info-container {
    gap: 10px;
    width: 30%;
}

.task-box {
    padding: 10px;
    width: 30%;
    border-radius: 10px;
}

.task-box-icon {
    margin-top: 10px;
    font-size: 20px;
}

.task-box-title {
    margin-top: 20px;
}