.dashboard {
    box-sizing: border-box;
    border: 1px solid #1F2636;
    border-radius: 10px;
    min-height: 100vh;
}

.header-container {
    border-bottom: 1px solid #1f2636;
    padding: 20px 20px 50px 20px;
}

.canvas-container {
    margin-top: 50px;
}