/* This file is used for adding common styles  */

/* flex classes  */
.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

/* colors */
.gray-text {
  color: #a2a6ae;
}

/* text  */

.sm-text {
  font-size: 14px;
}

/* shadow  */

.box-shadow {
  box-shadow:
    0 0 0 1px rgba(255,255,255,0.02),
    0 10px 30px rgba(0,0,0,0.4);
}

/* border  */
.box-border {
  border: 1px solid #1f2636;
  box-sizing: border-box;
}

.curved-border {
  border-radius: 10px;
}

.rounded-border {
  border-radius: 999px;
}

/* width  */

.w-100 {
  width: 100%;
}


/* margin  */

.m-auto {
  margin: auto;
}

.mt-20 {
  margin-top: 20px;
}

/* padding  */

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}